---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Home">
<section class="container">
    <div class="row">
        <div class="twelve columns home-box">Search Pokemon</div>
    </div>
    <div class="row">
        <div class="six columns home-box">Guides</div>
        <div class="six columns home-box">Items</div>
    </div>
    <div class="row">
        <div class="eight columns home-box">Gallery</div>
        <div class="four columns home-box">Contact</div>
    </div>
</section>
</MainLayout>