 <footer>
 <section class="container ">

 <div class="one-third column">
 <a href="">Contact</a>
 </div>
 <div class="one-third column">
 <a href="">Contact</a>
 </div>
 <div class="one-third column">
 <a href="">Contact</a>
 </div>

 <div class="copyright">©pokeinfo 2022</div>
 </section>
 </footer>