<nav>

<ul class="nav-list">
<a href="/"><img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/1026px-Pok%C3%A9_Ball_icon.svg.png" alt="Logo"></a>
<li class="nav-list-item"><a href="/">Home</a></li>
<li class="nav-list-item"><a href="/guides">Guides</a></li>
<li class="nav-list-item"><a href="/search-pokemon">Pokemon</a></li>
<li class="nav-list-item"><a href="/items">Items</a></li>
<li class="nav-list-item"><a href="/contact">Contact</a></li>
</ul>
</nav>
